.container {
  padding:5px 30px 30px 30px;
  margin:30px;
  border:solid white 1px;
  border-radius:5px;
  background-color:#e6e6e6;
  text-align:center;
}

.button {
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-success, .btn-danger {
  width:200px;
}
#myProgress {
    width: 25%;
    background-color: grey;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: black;
}
#label {
    text-align: left; /* If you want to center it */
    line-height: 30px; /* Set the line-height to the same as the height of the progress bar container, to center it vertically */
    color: white;
}